<!DOCTYPE html>

<html lang="en">

<head>
    <link rel="stylesheet" href="styles.css">
   
    <style>
    body {font-family: Garamond, serif;}
    body {background-color: #fff5da; padding: 1em;}
    p {color: #52b8c1;}
    li {color: #52b8c1;}
    h1 {font-size: 3em; color: #fca760}
    h2 {font-size: 2em; color: #fca760}
    a {color: #de6477;}
    nav {background-color: #87cab6; padding: 2em; margin-bottom: .5em;}
    nav a{color: #fceee9;}
    nav a:hover {background-color: #a8a8a8;}
    .evenrow {background-color: cadetblue}
    .quote {float: right;}
    .img1 {max-width: 100%; float: left; margin: 0 1em 1em 0;}
    .clear {clear: both;}
    .box1 {display: flex; background-color: white; padding: 1em; margin: .5em; border-radius: 1em;}
    .box2 {display: flex; flex-wrap: wrap; background-color: white; padding: 1em; margin: .5em; border-radius: 1em;}
    .fb2 {margin-left: 2em;}
    .fb4 {margin-left: 2em;}

    .skip {position: absolute; left: -999px; top: auto; width: 1px; height: 1px; overflow: hidden;}

    @media only screen and (max-width: 550px) {nav a
        {display: block; width: 100%; padding: 1em;}
        nav span{display:none;}
    }


    </style> 

</head>



