<!DOCTYPE html>

<html lang="en">

<head>
    <link rel="stylesheet" href="styles.css">
   
    <style>
    body {font-family: Garamond, serif;}
    body {background-color: #ffecb8; padding: 1em;}
    p {color: #90d2d8;}
    li {color: #90d2d8;}
    h1 {font-size: 3em; color: #f7c297}
    h2 {font-size: 2em; color: #f7c297}
    a {color: #f6a6b2;}
    nav {background-color: #b7ded2; padding: 2em; margin-bottom: 30px;}
    nav a{color: #fceee9;}
    nav a:hover {background-color: #e3e4e6;}
    .evenrow {background-color: cadetblue}
    .quote {float: right;}
    .img1 {float: left; margin: 0em 1em 1em 0em;}
    .img11 {max-width: 100%;}
    .clear {clear: both;}
    .box1 {display: flex; background-color: white; padding: 1em; margin: .5em; border-radius: 1em;}
    .box2 {display: flex; background-color: white; padding: 1em; margin: .5em; border-radius: 1em;}
    .fb2 {margin-left: 2em;}
    .fb4 {margin-left: 2em;}


    </style> 

</head>



