<!DOCTYPE html>

<html lang="en">

<head>
    <link rel="stylesheet" href="styles.css">
   
    <style>
    body {font-family: Garamond, serif;}
    h1, h2 {color: darkslategray}
    h1 {font-size: 2em}
    h2 {font-size: 1.5em}
    .evenrow {background-color: cadetblue}
    </style>

</head>



